name: Type check

on: [push]

jobs:
  mypy:
    runs-on: ubuntu-latest
    name: Type check with mypy
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install Dependencies
        run: |
          pip install .
      - name: Run mypy
        run: mypy .
